#container {
  text-align: left;

  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin-left: 2%;
}
.card-content-md {
  font-size: 18px;
  white-space: pre-line;
  color: var(--ion-color-step-800);
}


